html, body {
    height: 100%;
    margin: 0;
}

body
{
    display: grid;
    grid-template: 10vh 90vh / 15vw 85vw;
    margin: 0;
    height: 100%;
}

.header
{
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar
{
    border-radius: 15px;
}

.menu
{
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.projects-container
{
    display: flex;
    flex-direction: column;
}

.projects-headline
{
    display: flex;
    justify-content: space-between;
}

.projects-headline h1
{
    font-size: 13px;
}

.main
{
    grid-area: 2 / 2 / 3 / 3;
}

.centered-form {
    position: absolute;
    left: 50%;
    top: 50%;
    align-items: center;
    justify-content: center;
    width: 20rem;
}

form {
    display: flex;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
